.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: green;
	color:white;
	border-radius:50px;
	text-align:center;
  	font-size:30px;
	box-shadow: 6px 6px 6px black;
 	z-index:100;
	margin-right: 120px;
}
.float:hover {
	text-decoration: none;
	color: white;
  background-color:darkgreen;
}

.my-float{
	margin-top:16px;
}